<div class="row">
  
  <div class="col-md-4">
    <div class="panel panel-default	">
      <div class="panel-heading"><span>CHOOSE A LESSON</span></div>
      <div class="panel-body">
      	<ul class="media-list">
        	<li ng-repeat="i in items" class="media" ng-class="getItemClass(i)" ng-click="setItemActive(i)" >
				<div class="media-object pull-left">
					{{$index+1}}
				</div>
				<div class="media-body">
				  <div class="media-heading">{{i.title}}</div>
				</div>
			</li>
		</ul>
      	<div class="list-group">
        </div>
      </div>
    </div>
  </div>      

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading"><span>CURRENT LESSON</span></div>
      <div class="panel-body" ng-bind-html="itemText"> </div>
    </div>
  </div>      

</div>