<div class="black-box g1">
  <div class="container-fluid">

    <div class="row">
      
      <div class="col-md-4">
        <div class="panel">
          <div class="panel-heading"><span>LESSONS</span></div>
          <div class="panel-icon">
            <i class="fa fa-mortar-board fa-5x"></i>
          </div>
          <div class="panel-body">
            <p>
              fasdf saldfjsaldfj saldjf 
              fasdf saldfjsaldfj 
            </p>
            <a class="btn g2" href="#/lessons"><small>PROCEED WITH</small><br/>LESSONS</a>
          </div>
        </div>
      </div>      

      <div class="col-md-4">
        <div class="panel">
          <div class="panel-heading"><span>EXERCISES</span></div>
          <div class="panel-icon">
            <i class="fa fa-puzzle-piece fa-5x"></i>
          </div>
          <div class="panel-body">
            <p>
              fasdf saldfjsaldfj saldjf 
              fasdf saldfjsaldfj 
            </p>
            <a class="btn g2"><small>PROCEED WITH</small><br/>LESSONS</a>
          </div>
        </div>
      </div>      

      <div class="col-md-4">
        <div class="panel">
          <div class="panel-heading"><span>READING RATE</span></div>
          <div class="panel-icon">
            <i class="fa fa-dashboard fa-5x"></i>
          </div>
          <div class="panel-body">
            <p>
              fasdf saldfjsaldfj saldjf 
              fasdf saldfjsaldfj 
            </p>
            <a class="btn g2"><small>PROCEED WITH</small><br/>LESSONS</a>
          </div>
        </div>
      </div>
 
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">ORDER NOW</div>
      <div class="panel-body">
        <p>
          fasdf saldfjsaldfj saldjf fasdf saldfjsaldfj saldfjsaldfj fasdf saldfjsaldfj saldjf fasdf saldfjsaldfj fasdf saldfjsaldfj saldjf fasdf saldfjsaldfj saldfjsaldfj fasdf saldfjsaldfj saldjf fasdf saldfjsaldfj saldjf fasdf saldfjsaldfj saldjf 
        </p>
        <a href="#" class="btn btn-default g2">Learn More</a>
      </div>
    </div>

  </div>
  
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">TELL A FRIEND</div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="YOUR NAME">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="FRIEND'S EMAIL">
          </div>
          <div class="form-group">
            <textarea rows="2" class="form-control" id="exampleInputPassword1" placeholder="PERSONAL MESSAGE"></textarea>
          </div>
        
          <button type="submit" class="btn btn-default g2">INVITE</button>
        </form>
      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">PROGRAM FEEDBACK</div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <textarea rows="7" class="form-control" id="exampleInputPassword1" placeholder="TELL US WHAT YOU THINK"></textarea>
          </div>
          <button type="submit" class="btn btn-default g2">SEND</button>
        </form>
      </div>
    </div>

  </div>
</div>